.user-panel{
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  background-color: #FFF;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647),0 1px 4px rgba(0,0,0,.117647);
  border-radius: 2px;
  transition: all .45s cubic-bezier(.23,1,.32,1);
}

.user-header{
  font-size: 16px;
  height:1em;
  line-height: 1em;
  padding: 10px 0px 30px 10px;
  border-bottom:2px solid #f5f5f5;
}

.user{
  padding-left: 70px;
}

.user .mu-text-field.has-label{
  max-height: 72px;
}

.user-btn{
  font-size: 1.5em;
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -44px;
}

