<div class="user-panel">
  <header class="user-header">{{ actionName }}</header>
  <section class="user">
    <mu-text-field label="用户名" hintText="请输入用户名" labelFloat v-model="username" /><br/>
    <mu-text-field label="密码" hintText="请输入密码" type="password" labelFloat v-model="password" /><br/>
  </section>
  <mu-raised-button v-if="action === 'login'" label="登录" class="user-btn" primary @click="loginSubmit" />
  <mu-raised-button v-else="action === 'register'" label="注册不" class="user-btn" primary @click="registerSubmit" />
</div>
